html {
    scroll-behavior: smooth;
}

body {
    background-color: #FFFFFF;
}

.container-menu {
    max-width: 1000px;
    margin: auto;
    padding: 0 1rem;
}

header {
    position: sticky;
    top: 0;
    background: #720909;
    z-index: 99;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.8rem 0;
}

.sino-menu {
    max-width: 6rem;
    display: flex;
    justify-content: flex-start;
}

nav .menu a{
    color: #FFFFFF;
    font-family: Castoro Titling;
    text-decoration: none;
    padding: 0.4rem 0.7rem;
    border-radius: 20px;
    margin-left: 0.5rem;
    font-size: 2rem;
}

.container-inicio {
    width: 100%;
    height: 600px;
    background-image: url("imagens/frango-inicio.png");
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 3rem;
}

.texto-inicio {
    position: absolute;
    right: 2 rem;
    top: 50%;
    transform: translateY(-50%);
    text-align: right;
}

.texto-inicio h1 {
    font-family: "Candal", sans-serif;
    margin: 0;
    font-size: 6rem;
    color: white;
    font-weight: 900;
    text-shadow: 0 4px 12px rgba(0, 0, 0, 0.55);
}

.texto-inicio .verde {
    color: #A3EF99;
}

.sino-inicio {
    max-width: 20%;
}

#principais {
    max-width: 2000px;
    margin: 3rem auto;
    padding: 0 1rem;
    text-align: center;
}

.header-principais h2 {
    font-family: "Candal", sans-serif;
    font-size: 4rem;
    color: #620000;
    margin-bottom: 4rem;
}

.pratos-principais {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 1.5rem;
}

.prato {
    position: relative;
    overflow: hidden;
    border-radius: 8px;
}

.prato img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius: 1rem;
}

.prato span {
    position: absolute;
    bottom: 0.5rem;
    left: 0.5rem;
    color: white;
    font-weight: bold;
    font-size: 2rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 0.2rem 0.5rem;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 4px;
}

.prato.frango {
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;
}