html {
    scroll-behavior: smooth;
}

body {
    background-color: #FFFFFF;
}

.container-menu {
    max-width: 1000px;
    margin: auto;
    padding: 0 1rem;
}

header {
    position: sticky;
    top: 0;
    background: #720909;
    z-index: 99;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.4rem 0;
}

.sino-menu {
    max-width: 6rem;
    display: flex;
    justify-content: flex-start;
}

nav .menu a{
    color: #FFFFFF;
    font-family: Castoro Titling;
    text-decoration: none;
    padding: 0.4rem 0.7rem;
    border-radius: 20px;
    margin-left: 0.5rem;
    font-size: 1.3rem;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

nav .menu a:hover {
    background-color: #185503;
}

.container-inicio {
    width: 100%;
    height: 600px;
    background-image: url("imagens/frango-inicio.png");
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 3rem;
}

.texto-inicio {
    position: absolute;
    right: 2 rem;
    top: 50%;
    transform: translateY(-50%);
    text-align: right;
}

.texto-inicio h1 {
    font-family: "Candal", sans-serif;
    margin: 0;
    font-size: 6rem;
    color: white;
    font-weight: 900;
    text-shadow: 0 4px 12px rgba(0, 0, 0, 0.55);
}

.texto-inicio .verde {
    color: #A3EF99;
}

.sino-inicio {
    max-width: 20%;
}

#principais {
    max-width: 1000px;
    margin: 3rem auto;
    padding: 0 1rem;
    text-align: center;
}

.header-principais h2 {
    font-family: "Candal", sans-serif;
    font-size: 3rem;
    color: #620000;
    margin-bottom: 4rem;
}

.pratos-principais {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto;
    gap: 1.5rem;
}

.prato {
    position: relative;
    overflow: hidden;
    border-radius: 8px;
}

.prato img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius: 1rem;
}

.prato span {
    position: absolute;
    bottom: 0.5rem;
    left: 0.5rem;
    color: white;
    font-weight: bold;
    font-size: 1.3rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 0.2rem 0.5rem;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 4px;
}

/* 1. FRANGO ASSADO */
.pratos-principais > .link-principal:nth-child(1) {
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;
}

/* 2. PERU */
.pratos-principais > .link-principal:nth-child(2) {
    grid-column: 3;
    grid-row: 1;
}

/* 3. LOMBO */
.pratos-principais > .link-principal:nth-child(3) {
    grid-column: 3;
    grid-row: 2;
}

/* 4. TENDER */
.pratos-principais > .link-principal:nth-child(4) {
    grid-column: 1;
    grid-row: 3;
}

/* 5. BACALHAU */
.pratos-principais > .link-principal:nth-child(5) {
    grid-column: 2;
    grid-row: 3;
}

.link-principal {
    display: block;
    text-decoration: none;
    color: inherit;
    border-radius: 8px;
}

.link-principal .prato span {
    text-decoration: none;
}

.prato {
    border-radius: 0;
    width: 100%;
    height: 100%;
}

#principais .decoracao {
    width: 95%;
    height: 95%;
    margin-top: 5rem;
}

#acompanhamentos {
    max-width: 2000px;
    margin: 3rem auto;
    padding: 0 1rem;
    text-align: center;
}

.header-acompanhamentos h2 {
    font-family: "Candal", sans-serif;
    font-size: 3rem;
    color: #185503;
    margin-bottom: 4rem;
    margin-top: 4rem;
}

.pratos-acompanhamentos {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;
    padding: 20px;
    max-width: 1400px;
    margin: 0 auto;
}

.acompanhamento {
    position: relative;
    align-items: center;
    text-align: center;
    max-width: 300px;
    height: 400px;
    overflow: hidden;
}

.acompanhamento img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 1rem;
    display: block;
}

.acompanhamento span {
    position: absolute;
    top: 50%;
    left: 5%;
    width: 90%;
    font-weight: bold;
    font-size: 1.5rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    text-shadow: 0 4px 12px rgba(0, 0, 0, 0.55);
    line-height: 1.2;
}

.link-acompanhamento {
    text-decoration: none;
    color: inherit;
    display: block;
}


#acompanhamentos .decoracao {
    width: 75%;
    height: 75%;
    margin-top: 5rem;
    margin-left: auto;
    margin-right: auto;
}

#sobremesas {
    max-width: 2000px;
    margin: 3rem auto;
    padding: 0 1rem;
    text-align: center;
}

.header-sobremesas h2 {
    font-family: "Candal", sans-serif;
    font-size: 3rem;
    color: #620000;
    margin-bottom: 4rem;
    margin-top: 4rem;
}

.pratos-sobremesas {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;
    padding: 20px;
    max-width: 1400px;
    margin: 0 auto;
}

.sobremesa {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 300px;
    height: auto;
    overflow: hidden;
}

.sobremesa img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 0;
    display: block;
}

.sobremesa span {
    display: block;
    font-weight: bold;
    font-size: 1.5rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #185503;
    line-height: 1.2;
    margin-top: 0.5rem;
    text-align: center;
    width: 100%;
}

.link-sobremesas {
    text-decoration: none;
    display: block;
    color: inherit
}

.botao-topo {
    position: fixed;
    right: 2rem;
    bottom: 2rem;
    padding: 1.3rem 1.3rem;
    border-radius: 999px;
    background: #620000;
    color: #eee;
    text-decoration: none;
}

#sobremesas .decoracao {
    width: 75%;
    height: 75%;
    margin-top: 5rem;
}

.devs-container {
    max-width: 2000px;
    margin: 3rem auto;
    padding: 0 1rem;
}

.header-devs h2{
    font-family: "Candal", sans-serif;
    font-size: 3rem;
    color: #185503;
    margin-bottom: 4rem;
    text-align: center;
    text-transform: uppercase;
}